.card-game {
  width: 210px;

  position: relative;
  cursor: pointer;

  &__icons {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(20, 20, 27, 0.7);
    border-top-right-radius: 4px;
    z-index: 1;

    svg {
      margin: 2px 6px;
    }
  }
  &__image-wrapper {
    position: relative;

    margin-bottom: 10px;

    padding-bottom: calc(133.333%);
    border-radius: 4px;
    background: linear-gradient(rgb(43, 43, 43), rgb(32, 32, 32));
    color: rgba(245, 245, 245, 0.6);
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
      filter: brightness(115%);
    }
  }
  &__img {
    width: 100%;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__info {
    color: $wildSand;
  }
  &__title {
    padding-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price-wrapper {
    display: flex;
    align-items: center;
  }
  &__price {
    padding-left: 10px;
  }
}

.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 40px;
  &__spinner {
    position: absolute;
    top: 170px;
  }
}
